h1{
    text-align: left;
    margin: 10px;
    font-size: 50px;


}

.container{
    text-align: left;
    margin: 10px;
    font-size: 20px;
    padding: 10px;

font: 1em sans-serif; 
   word-spacing: 2px;
font-variant: unset; 
font-weight: 500;

}
h3{
    text-align: left;
    margin: 10px;
    font-size: 20px;
    color: black;
    padding: 15px;
    margin: 10px;
}
body{
    background-color: wheat;
}
p{
    font-size: larger;
    text-align: left;
    margin: 10px;

}

.top-ten{
    text-align: left;
    margin: 5px;
    font-size: px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 1px;
    text-align: left;
    color: black;
    font-size: 15px;
    width: fit-content;
    
}


